NEXT_PUBLIC_FRONTEND_URL="your-frontend-url"
NEXT_PUBLIC_BACKEND_API_URL="your-backend-url/api"
NEXT_PUBLIC_RESEND_API_KEY=YOUR_RESEND_API_KEY

NEXT_PUBLIC_CLARITY_ID=YOURCODE
NEXT_PUBLIC_RESEND_EMAIL=YOUREMAIL
